
@model HRMS_project.Models.Bunit

@{
    ViewData["Title"] = "BusinessUnit";
}

<html>
<head>
 
 </head>

<body>

     <hr />
    <form asp-controller="Admin" asp-action="BusinessUnitInfo" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-sm-6 mx-auto py-2">
            <div class="card">
                <div class="card-header bg-danger text-uppercase text-white">
                    <h4> Add new BusinessUnit </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">

                            <div class="form-group me-2">
                                <label asp-for="Businessunit" class="control-label">BusinessUnitName</label>
                                <input asp-for="Businessunit" id="business" class="form-control" />
                                <span asp-validation-for="Businessunit" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                

                                <label asp-for="Bunit_status" class="control-label"></label>
                           
                                @Html.DropDownListFor(model => model.Bunit_status, new List<SelectListItem>()
                                  {
                           

                                    new SelectListItem() { Text = "Active", Value="True"},
                                    new SelectListItem() { Text = "InActive", Value="False"}
                                  }, "Select Status", new { @id = "active", @class="form-control" })
                                
                                <span asp-validation-for="Bunit_status" class="text-danger"></span>
                            </div>
                     
                              <div class="form-group d-flex justify-content-center">
                                <input type="submit" id="Buttton" value="Save" class="btn btn-primary" />
                              </div>
                              <div>
                                <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Admin Dashboard</a>
                               
                        </div>
                     </div>
                              <div class="col-sm-3"></div>
                   </div>
                </div>
            </div>
        </div>
   </form>
   <div class="row">
       <div class="col-sm-4"></div>
        
         <div class="col-sm-4">
              <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-primary">Go To BunitDashboard</a>
         </div>
         <div class="col-sm-4"></div>
   </div>
  </body>
</html>
