
@{
    ViewData["Title"] = "AdminAccess";
}
<html>
    <head>
       
        <link href="~/css/image.css" rel="stylesheet" />
       
    </head>
     <body>

       
<div>


<h1 class="text-center" id="access">Only admin can access this page!!</h1>

</div>

 </body>
</html>