@model HRMS_project.Models.Login

@{
    ViewData["Title"] = "Login";
}

<html>
<head>
    <title>login</title>

</head>

<body>
    <hr />
    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
        <div class="col-sm-6 mx-auto py-2" id="Login">
            <div class="card">
                <div class="card-header bg-success text-uppercase text-white">
                    <h4>login </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" id="space">

                            <div class="form-group me-2">
                                <label asp-for="Email" id="User" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Password" id="pass" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                                </label>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <a asp-action="ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                          <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>



