@model HRMS_project.Models.offcheckpoint

@{
    ViewData["Title"] = "ONEdit";
}

<h1>ONEdit</h1>
<html>
    <head>
     
      <script src="~/Scripts/offedit.js" asp-append-version="true"></script>
    </head>
    <body>

<hr />

        
      <form asp-action="ONEdit" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-md-4">
         <div class="card">
                 <div class="card-header bg-secondary text-uppercase text-white">
                    <h4>ONEdit</h4>
                     
                </div>
                  <div class="card-body">
                 <form enctype="multipart/form-data" asp-action="New">
           <input type="hidden" asp-for="offcheckpointId" />
            <div class="form-group">
                <label asp-for="offcheckpointName" class="control-label"></label>

                <input asp-for="offcheckpointName" id="ofpoint" class="form-control" />
                <span asp-validation-for="offcheckpointName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BUnitID" class="control-label"></label>
            
                <select asp-for="BUnitID" class="form-control" id="offbunit"  asp-items="@ViewBag.bunit">
                      <option value="Select Businessunit">Select Businessunit</option>
                    </select>
                  <span asp-validation-for="BUnitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptId" class="control-label"></label>
              
                <select asp-for="DeptId" id="offDept" class="form-control" asp-items="@ViewBag.depts">
                       <option>Select Department</option>
                       </select>
                      <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssigneeId" class="control-label"></label>
             
               
               <select asp-for="AssigneeId"  id="offasign" class="form-control" asp-items="@ViewBag.assignees">
                       <option>Select Assignee</option>
                       
                       </select>
                         <span asp-validation-for="AssigneeId" class="text-danger"></span>
              </div>    
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" id="offdisc" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="offeditsubmit" />
            </div>
            </form>
            </div>
            </div>
              </div>
</div>
             </form>
        
  
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
          <a asp-action="OffBoardingcheckpointUnits">Back to List</a>
    </div>
    <div class="col-sm-4"></div>
</div>

</body>
</html>


